{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 75,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false
}
